*~
.vscode
*.log
*.out
include/*.o
include/*.so
src/*/*.o
src/*/*.so
vendor/*/*.so
vendor/*/*.o
vendor/*/*/*.so
vendor/*/*/*.o
tests/*.o
*.bc
failure_list.txt
out

build/
*.gcno
*.gcda

docs/programming_manual
